/* navbar.css */

.navbar {
    background-color: #42a2eb;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    font-weight: bold;

    color: #f4f2ee;
  }
  
  .nav-link.active {
    font-weight: bold;
  }

  
#username {
  color: #eee9e5;
}
#profile {
  color: #eae4df;
}
#logout {
  color: #bb0606; 

}
  /* Add more custom styles as needed */
  